@font-face{
    font-family:myfont;
    src: url(font/raleway_thin-webfont.woff)

}
.fontface{
    font-family: myfont; 
}
p.fontgoogle{
    font-family:'Roboto',sans-serif
}
body{
    font-family:'Roboto',sans-serif;
    background: #000000;
    color: #ffffff;

}
footer{
    font-family:'Roboto',sans-serif  
}

  .backg{
      padding: 3%;
      background-position: center
  }
  .background{
      background-image:image()
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
   color: rgb(145, 19, 19);
   
  }
  
  .active {
    background-color: rgb(145, 19, 19);
  }
